<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'fairTool/tool.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="https://media-exp1.licdn.com/dms/image/C560BAQHSFL0TY_arrA/company-logo_200_200/0?e=2159024400&v=beta&t=JCmNe93JQ2KKKVphrcI6eukqaBkiYl6zeY5KjbzCUSU"/>
    <title>Fair Tool</title>

  </head>
  <body>
    <div class="topnav">
        <a href=" ">Home</a>
        <a class = "active" href="#tool">Tool</a>
        <a href="maps">Heat Maps</a>
        <a href="about">About</a>
        
        <button class="button">Load Previous Risk</button>
        <button class="button">Save Results</button>
    </div>
    <div class="parent">
      <span>
        <table id="t01">
          <tr>
            <th scope="col">
              Summary
            </th>
            <th scope="col">
              Inherent
            </th>
            <th scope="col">
              Residual
            </th>
          </tr>
          <tr>
            <td>
              Overall Risk
            </td>
            <td>
              ?
            </td>
            <td>
              ?
            </td>
          </tr>
          <tr>
            <td>
              Primary LM
            </td>
            <td>
              ?
            </td>
            <td>
              ?
            </td>
          </tr>
          <tr>
            <td>
              Secondary LM
            </td>
            <td>
              ?
            </td>
            <td>
              ?
            </td>
          </tr>
        </table>
      </span>
      <span>
        <table id="#t03">
        <tr>
          <td>
            Asset at Risk
          </td>
          <td>
            <input type="text">
          </td>
        </tr>
        <tr>
          <td>
            Threat Community
          </td>
          <td>
            <input type="text">
          </td>
        </tr>
        <tr>
          <td>
            Loss Event
          </td>
          <td>
            <input type="text">
          </td>
        </tr>
        <tr>
          <td>
            Type of Loss Event
          </td>
          <td>
            <input type="text">
          </td>
        </tr>
        </table>
      </span>
      <span>
        <table id="t02">
          <tr>
            <th scope="col"></th>
            <td>
              Notes
            </td>
            <td>
              <input type="text"> 
            </td>
          </tr>
        </table>
      </span>
      <span>

      </span>
      </div>
      <br>
      <h3>Risk Analysis tool</h3>
      <h4 style="word-wrap: normal;">Instructions: Select desired Inhernet, Control, and Residual values respectivly for each of appropriate boxes. Once all inputs have been entered press "Calculate Risk" in order to display tree porperly, if any changes are made and a recaluation is required simply press Calculate Risk</h4>
    
    <br>
    <div class="tree">
      <ul>
        <li>
          <div>
            Overall Risk <br/>
            <span><label style = "font-size: 11px;" for="oi">Inhernet</label> <label style = "font-size: 11px;" for="oi">Residual</label></span><br>
            <span>
              <input class="out" type="input" id="ori-01" size ="1px" placeholder="0"  readonly>
              <input class="out" type="input" id="orr-01" size ="1px" placeholder="0"  readonly>
            </span>
            
          </div>
          <ul>
            <li>
              <div>
                Primary Risk<br>
                <span><label style = "font-size: 11px;" for="oi">Inhernet</label> <label style = "font-size: 11px;" for="oi">Residual</label></span><br>
                <span>
                  <input class="out" type="input" id="ori-01" size ="1px" placeholder="0"  readonly>
                  <input class="out" type="input" id="orr-01" size ="1px" placeholder="0"  readonly>
                </span>
              </div>
              <ul>
                <li>
                  <div>
                    Primary Loss Event Frequency<br>
                    <span><label style = "font-size: 11px;" for="oi">Inhernet</label> <label style = "font-size: 11px;" for="oi">Residual</label></span><br>
                    <span>
                      <input class="out" type="input" id="ori-01" size ="1px" placeholder="0"  readonly>
                      <input class="out" type="input" id="orr-01" size ="1px" placeholder="0"  readonly>
                    </span>
                  </div>
                  <ul>
                    <li>
                      <div>
                        Threat Event Frequency<br>
                        <span><label style = "font-size: 11px;" for="oi">Inhernet</label> <label style = "font-size: 11px;" for="oi">Residual</label></span><br>
                        <span>
                          <input class="out" type="input" id="ori-01" size ="1px" placeholder="0"  readonly>
                          <input class="out" type="input" id="orr-01" size ="1px" placeholder="0"  readonly>
                        </span>
                      </div>
                      <ul>
                        <li>
                          <div>
                            Probability of Action<br>Diffrence<br>
                            <span><label style = "font-size: 11px;" for="oi">Inhernet</label> <label style = "font-size: 11px;" for="oi">Control</label> <label style = "font-size: 11px;" for="oi">Residual</label></span><br>
                            <select name="poadi">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                            <select name="poadc">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                            <select name="poadr">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                          </div>
                        </li>
                        <li>
                          <div>
                            Contact Frequency<br> Avoidence<br>
                            <span><label style = "font-size: 11px;" for="oi">Inhernet</label> <label style = "font-size: 11px;" for="oi">Control</label> <label style = "font-size: 11px;" for="oi">Residual</label></span><br>
                            <select name="cfai">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                            <select name="cfac">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                            <select name="cfar">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <div>
                        Threat Capability<br>
                        <span><label style = "font-size: 11px;" for="oi">Inhernet</label> <label style = "font-size: 11px;" for="oi">Residual</label></span><br>
                        <span>
                          <input class="out" type="input" id="ori-01" size ="1px" placeholder="0"  readonly>
                          <input class="out" type="input" id="orr-01" size ="1px" placeholder="0"  readonly>
                        </span>
                      </div>
                      <ul>
                        <li>
                          <div>
                            Resistance Strength<br> Vulnerability<br>
                            <span><label style = "font-size: 11px;" for="oi">Inhernet</label> <label style = "font-size: 11px;" for="oi">Control</label> <label style = "font-size: 11px;" for="oi">Residual</label></span><br>
                            <select name="rsvi">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                            <select name="rsvc">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                            <select name="rsvr">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                          </div>
                        </li>
                        <li>
                          <div>
                            Threat Capability<br>
                            <span><label for="tcp">%</label></span><br>
                            <select name ="tcp">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <div>
                    Primary Loss Magnitude<br>
                    <span><label style = "font-size: 11px;" for="oi">Inhernet</label> <label style = "font-size: 11px;" for="oi">Control</label> <label style = "font-size: 11px;" for="oi">Residual</label></span><br>
                    <select name="plmi">
                      <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                    </select>
                    <select name="plmc">
                      <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                    </select>
                    <select name="plmr">
                      <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                    </select>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div>
                Secondary Risk<br>
                <span><label style = "font-size: 11px;" for="oi">Inhernet</label> <label style = "font-size: 11px;" for="oi">Residual</label></span><br>
                <span>
                  <input class="out" type="input" id="ori-01" size ="1px" placeholder="0"  readonly>
                  <input class="out" type="input" id="orr-01" size ="1px" placeholder="0"  readonly>
                </span>
              </div>
              <ul>
                <li>
                  <div>
                    Secondary Loss Magnitude Responsive
                    <br>
                    <span><label style = "font-size: 11px;" for="oi">Inhernet</label> <label style = "font-size: 11px;" for="oi">Control</label> <label style = "font-size: 11px;" for="oi">Residual</label></span><br>
                    <select name="slmri">
                      <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                      <option value="2">2</option>
                    </select>
                    <select name="slmrc">
                      <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                    </select>
                    <select name="slmrr">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                </li>
                <li>
                  <div>Secondary LEF<br>
                    <span><label style = "font-size: 11px;" for="oi">Inhernet</label> <label style = "font-size: 11px;" for="oi">Residual</label></span><br>
                    <span>
                      <input class="out" type="input" id="ori-01" size ="1px" placeholder="0"  readonly>
                      <input class="out" type="input" id="orr-01" size ="1px" placeholder="0"  readonly>
                    </span>
                  </div>
                  <ul>
                    <li>
                      <div>
                        Secondary Loss Probability<br>
                        <span><label for="slp">%</label></span><br>
                        <select name="slp">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                      </div>
                    </li>
                    <li>
                      <div>
                        Primary Loss Event Frequency<br>
                        <span><label style = "font-size: 11px;" for="oi">Inhernet</label> <label style = "font-size: 11px;" for="oi">Residual</label></span><br>
                        <span>
                          <input class="out" type="input" id="ori-01" size ="1px" placeholder="0"  readonly>
                          <input class="out" type="input" id="orr-01" size ="1px" placeholder="0"  readonly>
                        </span>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <br>
  <div>

  </div>
  <br>
  <button type="button" class="btn" id="#submit"><h5>Calculate Risk</h5></button>
  </br>
  </body>
  <br>
  <footer style="background-color: black; height: 50px;">

  </footer>
</html>