<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'fairTool/tool.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="https://media-exp1.licdn.com/dms/image/C560BAQHSFL0TY_arrA/company-logo_200_200/0?e=2159024400&v=beta&t=JCmNe93JQ2KKKVphrcI6eukqaBkiYl6zeY5KjbzCUSU"/>
    <title>Fair Tool</title>

  </head>
  <body>
    <div class="topnav">
        <a href=" ">Home</a>
        <a class = "active" href="#tool">Tool</a>
        <a href="maps">Heat Maps</a>
        <a href="about">About</a>
        
        <button class="button">Load Previous Risk</button>
        <button class="button">Save Results</button>
    </div>
    <div>
      <span>
        <table id="t01">
          <tr>
            <th>
              Summary
            </th>
            <th>
              Inherent
            </th>
            <th>
              Residual
            </th>
          </tr>
          <tr>
            <td>
              Overall Risk
            </td>
            <td>
              ?
            </td>
            <td>
              ?
            </td>
          </tr>
          <tr>
            <td>
              Primary LM
            </td>
            <td>
              ?
            </td>
            <td>
              ?
            </td>
          </tr>
          <tr>
            <td>
              Secondary LM
            </td>
            <td>
              ?
            </td>
            <td>
              ?
            </td>
          </tr>
        </table>

        <table id="#t03">
          <th>
            Summary
          </th>
          <th>
            Inherent
          </th>
          <th>
            Residual
          </th>
        </tr>
        <tr>
          <td>
            Overall Risk
          </td>
          <td>
            ?
          </td>
          <td>
            ?
          </td>
        </tr>
        <tr>
          <td>
            Primary LM
          </td>
          <td>
            ?
          </td>
          <td>
            ?
          </td>
        </tr>
        <tr>
          <td>
            Secondary LM
          </td>
          <td>
            ?
          </td>
          <td>
            ?
          </td>
        </tr>
        </table>
      </span>
    </div>
    <br>
    <div class="tree">
      <ul>
        <li>
          <div>
            Overall Risk <br/>
            <span><label style = "font-size: 11px;" for="oi">Inhernet</label> <label style = "font-size: 11px;" for="oi">Residual</label></span><br>
            <span>
              <input class="out" type="input" id="ori-01" size ="1px" placeholder="0"  readonly>
              <input class="out" type="input" id="orr-01" size ="1px" placeholder="0"  readonly>
            </span>
            
          </div>
          <ul>
            <li>
              <div>
                Primary Risk<br>
                <table class="node">
                  <tr>
                    <td>Inherent</td>
                    <td>Residual</td>
                  </tr>
                  <tr>
                    <td><input class="out" id="pri-01" type="text" readonly></td>
                    <td><input class="out" id="prr-01" type="text" readonly></td>
                  </tr>
                </table>
              </div>
              <ul>
                <li>
                  <div>
                    Primary Loss Event Frequency<br>
                    <table class="node">
                      <tr>
                        <td>Inherent</td>
                        <td>Residual</td>
                      </tr>
                      <tr>
                        <td><input class="out" id="prli-01" type="text" readonly></td>
                        <td><input class="out" id="prlr-01" type="text" readonly></td>
                      </tr>
                    </table>
                  </div>
                  <ul>
                    <li>
                      <div>
                        Threat Event Frequency<br>
                        <table class="node">
                          <tr>
                            <td>Inherent</td>
                            <td>Residual</td>
                          </tr>
                          <tr>
                            <td><input class="out" id="tefi-01" type="text" readonly></td>
                            <td><input class="out" id="tefr-01" type="text" readonly></td>
                          </tr>
                        </table>
                      </div>
                      <ul>
                        <li>
                          <div>
                            Probability of Action<br>Diffrence<br>
                            <select name="poadi">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                            <select name="poadc">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                            <select name="poadr">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                          </div>
                        </li>
                        <li>
                          <div>
                            Contact Frequency<br> Avoidence<br>
                            <select name="cfai">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                            <select name="cfac">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                            <select name="cfar">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <div>
                        Threat Capability<br>
                        <table class="node">
                          <tr>
                            <td>Inherent</td>
                            <td>Residual</td>
                          </tr>
                          <tr>
                            <td><input class="out" id="tci-01" type="text" readonly></td>
                            <td><input class="out" id="tcr-01" type="text" readonly></td>
                          </tr>
                        </table>
                      </div>
                      <ul>
                        <li>
                          <div>
                            Resistance Strength<br> Vulnerability<br>
                            <select name="rsvi">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                            <select name="rsvc">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                            <select name="rsvr">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                          </div>
                        </li>
                        <li>
                          <div>
                            Threate Capability<br>
                            <select name ="tcp">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <div>
                    Primary Loss Magnitude<br>
                    <select name="plmi">
                      <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                    </select>
                    <select name="plmc">
                      <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                    </select>
                    <select name="plmr">
                      <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                    </select>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div>
                Secondary Risk<br>
                <table class="node">
                  <tr>
                    <td>Inherent</td>
                    <td>Residual</td>
                  </tr>
                  <tr>
                    <td><input class="out" id="sri" type="text" readonly></td>
                    <td><input class="out" id="srr" type="text" readonly></td>
                  </tr>
                </table>
              </div>
              <ul>
                <li>
                  <div>
                    Secondary Loss Magnitude Responsive
                    <br>
                    <select name="slmri">
                      <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                      <option value="2">2</option>
                    </select>
                    <select name="slmrc">
                      <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                    </select>
                    <select name="slmrr">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                </li>
                <li>
                  <div>Secondary LEF<br>
                    <table class="node">
                      <tr>
                        <td>Inherent</td>
                        <td>Residual</td>
                      </tr>
                      <tr>
                        <td><input class="out" id="slefi-01" type="text" readonly></td>
                        <td><input class="out" id="slefr-01" type="text" readonly></td>
                      </tr>
                    </table>
                  </div>
                  <ul>
                    <li>
                      <div>
                        Secondary Loss Probability<br>
                        <select name="slp">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                      </div>
                    </li>
                    <li>
                      <div>
                        Primary Loss Event Frequency<br>
                        <table class="node">
                          <tr>
                            <td>Inherent</td>
                            <td>Residual</td>
                          </tr>
                          <tr>
                            <td><input class="out" id="plri-02" type="text" readonly></td>
                            <td><input class="out" id="plrr-02" type="text" readonly></td>
                          </tr>
                        </table>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <br>
    <div>
      <table id="t02">
        <tr>
          <td>
            Notes
          </td>
          <td>
            <input type="text"> 
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>